*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site-header {
    width: 100%;
    display:flex;
    align-items: right;
    justify-content: right;
    
    position: absolute;
}
.site-header_SS{
    width: 100%;
    height: 50px;
    border-bottom: 4px solid silver;
    background: #333;
    color: #fff;
    position: relative;
}
.header__logo{
    padding-top: 8px;
    padding-bottom: 0;
    position:absolute;
}
.site-header_nav {
    box-sizing: border-box;
    background-color: #333;
    text-decoration: none;
    color: white;
    margin: 0 auto 80px;
    border: 2px solid silver;
    border-radius: 40% 20%;
    padding: 10px 20px;
    transition: color 0.2s, background-color 0.2s ;

  }
  .site-header_nav:hover{
    background-color:silver;
    color: black;
  }

